html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background-color: #eeeeee;
  box-sizing: border-box;
  position: relative;
}
.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
header {
  background-color: white;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 8px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#logo {
  color: black;
  float: left;
  font-size: 15px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
}
#logo .bikemoves {
  font-family: 'Montserrat', sans-serif;
}
nav {
  float: right;
}
#primary-nav {
  margin: 0;
  padding: 0;
}
#primary-nav li {
  display: inline;
  line-height: 44px;
  list-style-type: none;
  margin-left: 15px;
}
#primary-nav a {
  border-bottom: 3px solid transparent;
  color: #222222;
  text-decoration: none;
  transition: all 0.1s ease-out;
}
#primary-nav .label {
  display: none;
}
#primary-nav a.active,
#primary-nav a:hover {
  color: #225ea8;
}
article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 -60px 0;
  min-height: 100%;
  padding: 100px 10px 40px;
  position: relative;
  width: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0 0 1em;
  text-transform: uppercase;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0 0 0.25em;
  text-transform: uppercase;
}
#home {
  background-image: url(img/background-home.jpg);
  background-size: cover;
  background-position: center;
  z-index: 50;
}
#home .inner {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#home h1 {
  font-size: 2em;
}
#home .description {
  margin: 0 10% 15px;
  font-size: 1em;
  text-align: center;
}
#home-menu {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px auto;
  padding: 0;
  position: relative;
}
#home-menu li {
  list-style-type: none;
  flex: 0 0 auto;
  width: auto;
}
#home-menu a {
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 0.85em;
  height: 100%;
  padding: 15px;
  text-align: left;
  text-decoration: none;
}
#home-menu a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
#home-menu .fa {
  font-size: 2.5em;
  float: left;
}
#home-menu strong {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin: 0 0 5px 60px;
}
#home-menu .text {
  display: block;
  margin: 0 0 0 60px;
}
#download {
  background-color: #f9d89a;
  z-index: 40;
}
#download .slider {
  height: 600px;
  position: relative;
  width: 100%;
}
#download .slide {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  text-decoration: none;
  top: 0;
  transform: translate(-50%, 0);
}
#download .slide1 {
  animation: fade 21s infinite;
  -webkit-animation: fade 21s infinite;
}
#download .slide2 {
  animation: fade2 21s infinite;
  -webkit-animation: fade2 21s infinite;
}
#download .slide3 {
  animation: fade3 21s infinite;
  -webkit-animation: fade3 21s infinite;
}
@keyframes fade1 {
  0% { opacity: 0 }
  5% { opacity: 1 }
  33.333% { opacity: 1 }
  38.333% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes fade2 {
  0% { opacity: 0 }
  33.333% { opacity: 0 }
  38.333% { opacity: 1 }
  63.333% { opacity: 1 }
  68.333% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes fade3 {
  0% { opacity: 1 }
  5% { opacity: 0 }
  63.333% { opacity: 0 }
  68.333% { opacity: 1 }
  100% { opacity: 1 }
}
#download .features {
  display: none;
}
#download .features strong {
  font-family: 'Montserrat', sans-serif;
}
#download .download-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0 1em -12px;
  padding: 0;
}
#download .download-buttons li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#download .download-buttons li.ios {
  padding: 13px;
}
#demographics {
  background-color: #f8f8f8;
  z-index: 30;
}
#demographics #stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
#demographics #stats li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#demographics #stats li a {
  border-bottom: 3px solid transparent;
  color: #666666;
  display: block;
  padding: 0 1em 0.5em;
  text-decoration: none;
}
#demographics #stats li a:hover {
  color: black;
}
#demographics #stats li a.active {
  color: black;
  border-bottom-color: black;
}
#demographics #stats .value {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  line-height: 1em;
}
#demographics #stats .label {
  font-size: 0.9em;
  text-transform: uppercase;
}
.chart-wrapper {
  margin: 15px 0;
  position: relative;
}
.chart-wrapper .title {
  text-align: center;
}
.chart-wrapper .label-x,
.chart-wrapper .label-y {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
}
.chart-wrapper .label-x {
  text-align: center;
}
.chart-wrapper .label-y {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1.25em;
}
.chart-wrapper .label-y .label {
  left: -600px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: rotate(270deg);
  transform-origin: center top;
  white-space: nowrap;
  width: 1200px;
}
.chart-wrapper .ct-bar {
  stroke-width: 8%;
}
#demographics #chart-age .ct-series-a .ct-bar {
  stroke: #c7e9b4;
}
#demographics #chart-age .ct-series-b .ct-bar {
  stroke: #7fcdbb;
}
#demographics #chart-age .ct-series-c .ct-bar {
  stroke: #41b6c4;
}
#demographics #chart-age .ct-series-d .ct-bar {
  stroke: #1d91c0;
}
#demographics #chart-age .ct-series-e .ct-bar {
  stroke: #225ea8;
}
#demographics #chart-age .ct-series-f .ct-bar {
  stroke: #253494;
}
#demographics #chart-age .ct-series-g .ct-bar {
  stroke: #081d58;
}
#demographics #chart-age .ct-series-h .ct-bar {
  stroke: #081d58;
}
#demographics #chart-age .ct-series-i .ct-bar {
  stroke: #081d58;
}
#demographics #chart-gender .ct-series-a .ct-bar {
  stroke: #abdda4;
}
#demographics #chart-gender .ct-series-b .ct-bar {
  stroke: #b2abd2;
}
#demographics #chart-gender .ct-series-c .ct-bar {
  stroke: #fdae61;
}
#demographics #chart-cycling-experience .ct-series-a .ct-bar {
  stroke: #fecc5c;
}
#demographics #chart-cycling-experience .ct-series-b .ct-bar {
  stroke: #fd8d3c;
}
#demographics #chart-cycling-experience .ct-series-c .ct-bar {
  stroke: #e31a1c;
}
#demographics #chart-trip-count .ct-series-a .ct-bar {
  stroke: #67a9cf;
}
#demographics #chart-age .ct-series .ct-bar-not-specified,
#demographics #chart-gender .ct-series .ct-bar-not-specified,
#demographics #chart-cycling-experience .ct-series .ct-bar-not-specified {
  stroke: #cccccc;
}
#data {
  background-color: #222222;
  color: white;
  z-index: 20;
}
#data,
#data .inner {
  height: 100%;
}
#data #map {
  background-color: #333333;
  height: calc(100% - 180px);
  left: 10px;
  position: absolute;
  top: 140px;
  width: calc(100% - 20px);
}
#data h1 {
  margin-bottom: 15px;
}
#data #map-controls-toggle {
  float: right;
}
#data #map-controls-toggle button {
  background-color: #666666;
  border: 1px solid #999999;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
  cursor: pointer;
  font-size: 14px;
  padding: 0.25em 1em;
  color: #ffffff;
}
#data #map-controls-toggle button:hover {
  background-color: #225ea8;
  border-color: #99bae3;
}
#data #map-controls-toggle button.active {
  background-color: #225ea8;
  border-color: #99bae3;
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.5);
}
#data #map-controls {
  background-color: rgba(25, 25, 25, 0.85);
  display: none;
  max-height: calc(100% - 120px);
  overflow-y: auto;
  padding: 20px;
  position: relative;
  z-index: 90;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#data #map-controls #map-view-label {
  display: block;
  font-size: 15px;
  margin-bottom: 0.25em;
  text-transform: uppercase;
}
#data .style-select {
  width: auto;
  z-index: 10;
}
#data .ss-selected-option {
  background-image: none;
  background-color: #444444;
  border-color: #444444;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 6px;
}
#data .style-select .ss-selected-option::after {
  color: #666666;
  top: 10px;
}
#data .style-select .ss-dropdown {
  border-color: #666666;
  box-shadow: none;
  top: 42px;
}
#data .style-select .ss-dropdown .ss-option {
  background-color: #111111;
  color: white;
}
#data .style-select .ss-dropdown .ss-option.highlighted {
  background-color: #333333;
}
#data h2 {
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  margin-top: 15px;
}
#data .legend-item {
  display: block;
  font-size: 13px;
}
#data .legend-symbol {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
}
#data #legend-item-bike-rack .legend-symbol::after {
  border: 1px solid black;
  content: '';
  display: inline-block;
  background-color: white;
  border-radius: 3px;
  height: 6px;
  margin: 0 4px;
  width: 6px;
}
#data #legend-item-bike-path .legend-symbol::after {
  border-bottom: 1px dashed white;
  content: '';
  display: inline-block;
  height: 0;
  margin-bottom: 5px;
  width: 16px;
}
#data .chart-wrapper .title {
  font-size: 0.9em;
}
#data .ct-label {
  color: #bbbbbb;
}
#data .ct-grids .ct-grid {
  stroke: #999999;
}
#data .label-x,
#data .label-y {
  color: #dddddd;
  font-size: 12px;
}
#data #chart-edge-width::after {
  clear: both;
  content: 0;
  display: block;
  height: 0;
}
#data .view-info {
  display: none;
  font-size: 14px;
}
#data .mapboxgl-popup h2 {
  margin-top: 5px;
}
.mapboxgl-popup {
  color: black;
}
.mapboxgl-popup table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.mapboxgl-popup th,
.mapboxgl-popup td {
  padding: 2px 10px;
  text-align: left;
}
.mapboxgl-popup tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 1.3em;
  }
  #logo {
    font-size: 20px;
  }
  #primary-nav .label {
    display: inline;
  }
  #home h1 {
    font-size: 5em;
  }
  #home .description {
    font-size: 1.8em;
    margin: 0 20% 30px;
  }
  #home-menu {
    flex-direction: row;
    margin: 50px auto;
  }
  #home-menu li {
    width: 30%;
  }
  #home-menu a {
    font-size: 1em;
  }
  #home-menu strong {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  #home-menu .text {
    font-size: 1.2em;
  }
  #download .inner > * {
    margin-left: 35%;
  }
  #download .slider {
    float: left;
    margin-left: 0;
    margin-top: -48px;
    width: 30%;
  }
  #download .features {
    display: block;
  }
  #download .download-buttons {
    justify-content: flex-start;
  }
  #demographics #charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #demographics #charts .chart-wrapper {
    width: 47%;
  }
  #data h1 {
    margin-bottom: 25px;
  }
  #data .chart-wrapper h2 {
    font-size: 1.1em;
  }
  #map-controls {
    float: right;
    width: 30%;
  }
}
