html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background-color: #eeeeee;
  box-sizing: border-box;
  position: relative;
}
.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
header {
  background-color: white;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 8px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#logo {
  color: black;
  float: left;
  font-size: 15px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
}
#logo .bikemoves {
  font-family: 'Montserrat', sans-serif;
}
nav {
  float: right;
}
#primary-nav {
  margin: 0;
}
#primary-nav li {
  display: inline;
  line-height: 44px;
  list-style-type: none;
  margin-left: 15px;
}
#primary-nav a {
  border-bottom: 3px solid transparent;
  color: #222222;
  text-decoration: none;
}
#primary-nav .label {
  display: none;
}
article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 -60px 0;
  min-height: 100%;
  padding: 85px 10px 25px;
  position: relative;
  width: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
#home {
  background-image: url(img/background-home.jpg);
  background-size: cover;
  background-position: center;
  z-index: 50;
}
#home .inner {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#home h1 {
  font-size: 2em;
}
#home .description {
  margin: 0 20% 30px;
  font-size: 1.2em;
  text-align: center;
}
#home-menu {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px auto;
  padding: 0;
  position: relative;
}
#home-menu li {
  list-style-type: none;
  flex: 0 0 auto;
  width: auto;
}
#home-menu a {
  box-sizing: border-box;
  color: black;
  display: block;
  height: 100%;
  padding: 15px;
  text-align: left;
  text-decoration: none;
}
#home-menu a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
#home-menu .fa {
  font-size: 2.5em;
  float: left;
}
#home-menu .fa-mobile {
  font-size: 4em;
}
#home-menu strong {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin: 0 0 5px 60px;
}
#home-menu .text {
  display: block;
  margin: 0 0 0 60px;
}
#download {
  background-color: #f9d89a;
  z-index: 40;
}
#demographics {
  background-color: #f8f8f8;
  z-index: 30;
}
#demographics #stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
#demographics #stats li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#demographics #stats li a {
  border-bottom: 3px solid transparent;
  color: #666666;
  display: block;
  padding: 0 1em 0.5em;
  text-decoration: none;
}
#demographics #stats li a:hover {
  color: black;
}
#demographics #stats li a.active {
  color: black;
  border-bottom-color: black;
}
#demographics #stats .value {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  line-height: 1em;
}
#demographics #stats .label {
  font-size: 0.9em;
  text-transform: uppercase;
}
#demographics #charts .chart {
  
}
#data {
  background-color: #666666;
  z-index: 20;
}
#map {
  background-color: #eeeeee;
  box-sizing: border-box;
  height: 100%;
}
@media screen and (min-width: 768px) {
  #logo {
    font-size: 20px;
  }
  #primary-nav .label {
    display: inline;
  }
  #home h1 {
    font-size: 5em;
  }
  #home .description {
    font-size: 1.8em;
  }
  #home-menu {
    flex-direction: row;
    margin: 50px auto;
  }
  #home-menu li {
    width: 30%;
  }
  #home-menu strong {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  #home-menu .text {
    font-size: 1.2em;
  }
}
