html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background-color: #eeeeee;
  box-sizing: border-box;
  position: relative;
}
.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
header {
  background-color: #222222;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  color: white;
  height: 60px;
  padding: 8px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#logo {
  color: white;
  float: left;
  font-size: 15px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
}
#logo .bikemoves {
  font-family: 'Montserrat', sans-serif;
}
nav {
  float: right;
}
#primary-nav {
  margin: 0;
  padding: 0;
}
#primary-nav li {
  display: inline;
  line-height: 44px;
  list-style-type: none;
  margin-left: 15px;
}
#primary-nav a {
  border-bottom: 3px solid transparent;
  color: white;
  text-decoration: none;
  transition: all 0.1s ease-out;
}
#primary-nav .label {
  display: none;
}
#primary-nav a.active,
#primary-nav a:hover {
  color: #225ea8;
}
#main {
  box-sizing: border-box;
  height: 100%;
  padding-top: 59px;
  position: relative;
}
#main .inner {
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  height: 100%;
}
#map {
  background-color: white;
  height: 50%;
}
#table-wrapper {
  background-color: white;
  height: 50%;
  width: 100%;
  overflow-y: scroll;
}
.trips-table {
  border: 1px solid #eeeeee;
  border-collapse: collapse;
  width: 100%;
}
.trips-table th,
.trips-table td {
  font-size: 0.9em;
  padding: 0.2em 0.25em;
  text-align: right;
  white-space: nowrap;
}
.trips-table th {
  background-color: #e0e0e0;
}
#trips-header-scroll {
  overflow-y: scroll;
}
.trips-table tbody tr {
  cursor: pointer;
}
.trips-table tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.trips-table tbody tr:hover {
  background-color: #e1f8d4;
}
.trips-table tbody tr.selected,
.trips-table tbody tr.selected:hover  {
  background-color: #c7e9b4;
}
.trips-table th:first-child,
.trips-table td:first-child {
  width: 8%;
}
.trips-table th:nth-child(2),
.trips-table td:nth-child(2) {
  width: 10%;
}
.trips-table th:nth-child(3),
.trips-table td:nth-child(3) {
  width: 15%;
}
.trips-table th:nth-child(4),
.trips-table td:nth-child(4) {
  width: 10%;
}
.trips-table th:nth-child(5),
.trips-table td:nth-child(5) {
  width: 10%;
}
.trips-table th:nth-child(6),
.trips-table td:nth-child(6) {
  width: 20%;
}
.trips-table th:nth-child(7),
.trips-table td:nth-child(7) {
  width: 20%;
}
#trips-scroll {
  max-height: calc(100% - 30px);
}
.popup-table {
  border-collapse: collapse;
}
.popup-table td,
.popup-table th {
  border: 1px solid #dddddd;
  padding: 0.1em 0.5em;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 1.3em;
  }
  #logo {
    font-size: 20px;
  }
  #primary-nav .label {
    display: inline;
  }
}
