html,
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  width: 100%;
}
body {
  background-color: #eeeeee;
  box-sizing: border-box;
  position: relative;
}
.inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
}
header {
  background-color: white;
  border-bottom: 1px solid #dddddd;
  box-sizing: border-box;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  padding: 8px 10px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
#user {
  float: right;
  font-size: 13px;
  line-height: 13px;
  margin: -8px 0 -10px 0;
  position: relative;
  z-index: 100;
}
#user .username,
#user .logout {
  display: inline-block;
  height: 16px;
  padding: 2px 10px 2px 10px;
}
#user .username {
  color: white;
  background-color: black;
}
#user .username .value {
  font-weight: bold;
  margin-left: 5px;
}
#user .logout {
  background-color: #dddddd;
  color: black;
  text-decoration: none;
  text-transform: lowercase;
}
#user .logout:hover {
  background-color: #444444;
  color: white;
}
#logo {
  color: black;
  float: left;
  font-size: 15px;
  line-height: 44px;
  text-decoration: none;
  text-transform: uppercase;
}
#logo .bikemoves {
  font-family: 'Montserrat', sans-serif;
}
nav {
  clear: right;
  float: right;
}
#primary-nav {
  margin: 0;
  padding: 0;
}
#primary-nav li {
  display: inline;
  line-height: 44px;
  list-style-type: none;
  margin-left: 15px;
}
#primary-nav a {
  border-bottom: 3px solid transparent;
  color: #222222;
  text-decoration: none;
  transition: all 0.1s ease-out;
}
#primary-nav .label {
  display: none;
}
#primary-nav a.active,
#primary-nav a:hover {
  color: #225ea8;
}
article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 0 -60px 0;
  min-height: 100%;
  padding: 100px 10px 40px;
  position: relative;
  width: 100%;
}
h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  margin: 0 0 1em;
  text-transform: uppercase;
}
h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  margin: 0 0 0.25em;
  text-transform: uppercase;
}
#home {
  background-image: url(assets/background-home.jpg);
  background-size: cover;
  background-position: center;
  z-index: 50;
}
#home .inner {
  box-sizing: border-box;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#home h1 {
  font-size: 2em;
}
#home .description {
  margin: 0 10% 15px;
  font-size: 1em;
  text-align: center;
}
#home-menu {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 25px auto;
  padding: 0;
  position: relative;
}
#home-menu li {
  list-style-type: none;
  flex: 0 0 auto;
  width: auto;
}
#home-menu a {
  box-sizing: border-box;
  color: black;
  display: block;
  font-size: 0.85em;
  height: 100%;
  padding: 15px;
  text-align: left;
  text-decoration: none;
}
#home-menu a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s;
}
#home-menu .fa {
  font-size: 2.5em;
  float: left;
}
#home-menu strong {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.2em;
  margin: 0 0 5px 60px;
}
#home-menu .text {
  display: block;
  margin: 0 0 0 60px;
}
#download {
  background-color: #f9d89a;
  z-index: 40;
}
#download .slider {
  height: 600px;
  position: relative;
  width: 100%;
}
#download .slide {
  left: 50%;
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  text-decoration: none;
  top: 0;
  transform: translate(-50%, 0);
}
#download .slide1 {
  animation: fade 21s infinite;
  -webkit-animation: fade 21s infinite;
}
#download .slide2 {
  animation: fade2 21s infinite;
  -webkit-animation: fade2 21s infinite;
}
#download .slide3 {
  animation: fade3 21s infinite;
  -webkit-animation: fade3 21s infinite;
}
@keyframes fade1 {
  0% { opacity: 0 }
  5% { opacity: 1 }
  33.333% { opacity: 1 }
  38.333% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes fade2 {
  0% { opacity: 0 }
  33.333% { opacity: 0 }
  38.333% { opacity: 1 }
  63.333% { opacity: 1 }
  68.333% { opacity: 0 }
  100% { opacity: 0 }
}
@keyframes fade3 {
  0% { opacity: 1 }
  5% { opacity: 0 }
  63.333% { opacity: 0 }
  68.333% { opacity: 1 }
  100% { opacity: 1 }
}
#download .features {
  display: none;
}
#download .features strong {
  font-family: 'Montserrat', sans-serif;
}
#download .download-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 1em 0 1em -12px;
  padding: 0;
}
#download .download-buttons li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#download .download-buttons li.ios {
  padding: 13px;
}
#demographics {
  background-color: #f8f8f8;
  z-index: 30;
}
#demographics #stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}
#demographics #stats li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#demographics #stats li a {
  border-bottom: 3px solid transparent;
  color: #666666;
  display: block;
  padding: 0 1em 0.5em;
  text-decoration: none;
}
#demographics #stats li a:hover {
  color: black;
}
#demographics #stats li a.active {
  color: black;
  border-bottom-color: black;
}
#demographics #stats .value {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5em;
  line-height: 1em;
}
#demographics #stats .label {
  font-size: 0.9em;
  text-transform: uppercase;
}
.chart-wrapper {
  margin: 15px 0;
  position: relative;
}
.chart-wrapper .title {
  text-align: center;
}
.chart-wrapper .label-x,
.chart-wrapper .label-y {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em;
}
.chart-wrapper .label-x {
  text-align: center;
}
.chart-wrapper .label-y {
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 1.25em;
}
.chart-wrapper .label-y .label {
  left: -600px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: rotate(270deg);
  transform-origin: center top;
  white-space: nowrap;
  width: 1200px;
}
.chart-wrapper .ct-bar {
  stroke-width: 8%;
}
.aria-table {
  left: -10000px;
  position: absolute;
  top: -10000px;
}
#demographics #chart-age .ct-series-a .ct-bar {
  stroke: #c7e9b4;
}
#demographics #chart-age .ct-series-b .ct-bar {
  stroke: #7fcdbb;
}
#demographics #chart-age .ct-series-c .ct-bar {
  stroke: #41b6c4;
}
#demographics #chart-age .ct-series-d .ct-bar {
  stroke: #1d91c0;
}
#demographics #chart-age .ct-series-e .ct-bar {
  stroke: #225ea8;
}
#demographics #chart-age .ct-series-f .ct-bar {
  stroke: #253494;
}
#demographics #chart-age .ct-series-g .ct-bar {
  stroke: #081d58;
}
#demographics #chart-age .ct-series-h .ct-bar {
  stroke: #081d58;
}
#demographics #chart-age .ct-series-i .ct-bar {
  stroke: #081d58;
}
#demographics #chart-gender .ct-series-a .ct-bar {
  stroke: #abdda4;
}
#demographics #chart-gender .ct-series-b .ct-bar {
  stroke: #b2abd2;
}
#demographics #chart-gender .ct-series-c .ct-bar {
  stroke: #fdae61;
}
#demographics #chart-cycling-experience .ct-series-a .ct-bar {
  stroke: #fecc5c;
}
#demographics #chart-cycling-experience .ct-series-b .ct-bar {
  stroke: #fd8d3c;
}
#demographics #chart-cycling-experience .ct-series-c .ct-bar {
  stroke: #e31a1c;
}
#demographics #chart-trip-count .ct-series-a .ct-bar {
  stroke: #67a9cf;
}
#demographics #chart-age .ct-series .ct-bar-not-specified,
#demographics #chart-gender .ct-series .ct-bar-not-specified,
#demographics #chart-cycling-experience .ct-series .ct-bar-not-specified {
  stroke: #cccccc;
}
#data {
  background-color: #222222;
  color: white;
  z-index: 20;
}
#data,
#data .inner {
  height: 100%;
}
#data #map {
  background-color: #333333;
  height: calc(100% - 60px);
  left: 0;
  position: absolute;
  top: 60px;
  width: 100%;
}
#data h1 {
  left: -1000px;
  position: absolute;
  top: -1000px;
}
#data h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  text-transform: uppercase;
}
#data .field-label {
  display: block;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  margin: 15px 0 2px;
}
#data .field-label a {
  color: white;
  float: right;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 12px;
  margin: 0 0 0 10px;
  text-decoration: none;
}
#data .field-label a:active,
#data .field-label a:hover {
  text-decoration: underline;
}
#data #map-controls-container {
  background-color: rgba(25, 25, 25, 0.85);
  float: right;
  max-height: calc(100% - 60px);
  overflow-y: auto;
  padding: 0;
  position: relative;
  z-index: 90;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
#data #map-controls-container.active {
  padding: 20px;
}
#data #toggle-map-controls {
  color: white;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
}
#data .active #toggle-map-controls {
  border-bottom: 1px solid white;
  padding: 0;
}
#data #toggle-map-controls .fa-caret-down {
  display: none;
  float: right;
}
#data .active #toggle-map-controls .fa-caret-down {
  display: inline;
}
#data #toggle-map-controls .fa-caret-right {
  margin-left: 1em;
}
#data .active #toggle-map-controls .fa-caret-right {
  display: none;
}
#data #map-controls {
  display: none;
}
#data .active #map-controls {
  display: block;
}
#data .style-select {
  width: auto;
  z-index: 10;
}
#data .ss-selected-option {
  background-image: none;
  background-color: #444444;
  border-color: #444444;
  color: white;
  font-family: 'Montserrat', sans-serif;
  padding: 10px 6px;
}
#data .style-select .ss-selected-option::after {
  color: #666666;
  top: 10px;
}
#data .style-select .ss-dropdown {
  border-color: #666666;
  box-shadow: none;
  top: 42px;
}
#data .style-select .ss-dropdown .ss-option {
  background-color: #111111;
  color: white;
}
#data .style-select .ss-dropdown .ss-option.highlighted {
  background-color: #333333;
}
#data .legend-item {
  display: block;
  font-size: 13px;
}
#data .legend-symbol {
  display: inline-block;
  margin-right: 5px;
  width: 16px;
}
#data #legend-item-bike-rack .legend-symbol::after {
  border: 1px solid black;
  content: '';
  display: inline-block;
  background-color: white;
  border-radius: 3px;
  height: 6px;
  margin: 0 4px;
  width: 6px;
}
#data #legend-item-bike-path .legend-symbol::after {
  border-bottom: 1px dashed white;
  content: '';
  display: inline-block;
  height: 0;
  margin-bottom: 5px;
  width: 16px;
}
#data .chart-wrapper .title {
  font-size: 0.9em;
}
#data .ct-label {
  color: #bbbbbb;
}
#data .ct-grids .ct-grid {
  stroke: #999999;
}
#data .label-x,
#data .label-y {
  color: #dddddd;
  font-size: 12px;
}
#data #chart-edge-width::after {
  clear: both;
  content: 0;
  display: block;
  height: 0;
}
#data .view-info {
  display: none;
  font-size: 14px;
}
#data .mapboxgl-popup h2 {
  margin-top: 5px;
}
.mapboxgl-popup {
  color: black;
}
.mapboxgl-popup table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
.mapboxgl-popup th,
.mapboxgl-popup td {
  padding: 2px 10px;
  text-align: left;
}
.mapboxgl-popup tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.clearfix::before,
.clearfix::after {
  clear: both;
  content: '';
  display: block;
  line-height: 0;
}
#filters {
  background-color: #444444;
  padding: 10px 10px 5px 10px;
  position: relative;
}
.taggle_list {
  float: left;
  margin: 0;
  padding: 0;
  width: 100%;
}
.taggle_input {
  background: none;
  border: none;
  color: white;
  float: left;
  font-size: 14px;
  font-weight: 300;
  max-width: 100%;
  outline: none;
  padding: 8px 8px 8px 0;
  width: 100%;
}
.taggle_list li {
  display: inline-block;
  float: left;
  font-weight: 500;
  margin-bottom: 5px;
  white-space: nowrap;
}
.taggle_list .taggle {
  background-color: #222222;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  margin-right: 8px;
  padding: 5px 20px 5px 10px;
  position: relative;
}
.taggle_list .taggle_hot {
  background: black;
}
.taggle_list .taggle .close {
  background: none;
  border: 0 none transparent;
  color: #ccc;
  cursor: pointer;
  font-size: 1.1rem;
  line-height: 0.5;
  padding: 0 0 4px 0;
  position: absolute;
  text-decoration: none;
  top: 10px;
  right: 3px;
}
.taggle_list .taggle .close:hover {
  color: #d70206;
}
.taggle_placeholder {
  color: #cccccc;
  left: 8px;
  position: absolute;
  top: 12px;
}
.taggle_sizer {
  padding: 0;
  margin: 0;
  position: absolute;
  top: -500px;
  z-index: -1;
  visibility: hidden;
}
#data .map-pane {
  background-color: rgba(255, 255, 255, 0.9);
  box-sizing: border-box;
  color: black;
  display: none;
  font-size: 14px;
  left: 0;
  padding: 20px;
  position: relative;
  top: 0;
  width: 100%;
  z-index: 200;
}
#data .map-pane.active {
  display: block;
}
#data .map-pane .close-pane {
  color: black;
  float: right;
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  margin: -5px -10px 0 0;
  padding: 5px 10px;
  text-decoration: none;
}
#data #filter-help .toggle-filter-help:hover {
  color: #bd0026;
}
#data #filter-help h3 {
  font-size: 1em;
}
#data .filter-table {
  border-collapse: collapse;
}
#data .filter-table th,
#data .filter-table td {
  border: 1px solid #cccccc;
  padding: 5px;
}
#data .filter-table th {
  background-color: #cccccc;
  font-family: 'Montserrat', sans-serif;
}
#data .filter-table td {
  background-color: white;
  font-size: 12px;
}
#data .filter-table td.variables {
  width: 20%;
}
#data .filter-table td.values {
  width: 40%;
}
#data #filter-help em {
  background-color: white;
  border: 1px solid #666666;
  border-radius: 4px;
  display: inline-block;
  font-family: monospace;
  font-style: normal;
  margin: 0 5px 5px 0;
  padding: 2px 5px;
}
#data #filter-help .variables em {
  font-weight: bold;
}
#data #filter-help .examples em {
  background-color: #eeeeee;
}
#table-wrapper {
  background-color: white;
  height: 50%;
  width: 100%;
  overflow-y: scroll;
}
.trips-table {
  border: 1px solid #eeeeee;
  border-collapse: collapse;
  width: 100%;
}
.trips-table th,
.trips-table td {
  font-size: 0.9em;
  padding: 0.2em 0.25em;
  text-align: right;
  white-space: nowrap;
}
.trips-table th {
  background-color: #e0e0e0;
  font-family: 'Montserrat', sans-serif;
}
#trips-header-scroll {
  overflow-y: scroll;
}
.trips-table tbody tr {
  cursor: pointer;
}
.trips-table tbody tr:nth-child(even) {
  background-color: white;
}
.trips-table tbody tr:nth-child(odd) {
  background-color: #f0f0f0;
}
.trips-table tbody tr:hover {
  background-color: #e1f8d4;
}
.trips-table tbody tr.selected,
.trips-table tbody tr.selected:hover  {
  background-color: #c7e9b4;
}
.trips-table th:first-child,
.trips-table td:first-child {
  width: 8%;
}
.trips-table th:nth-child(2),
.trips-table td:nth-child(2) {
  width: 10%;
}
.trips-table th:nth-child(3),
.trips-table td:nth-child(3) {
  width: 15%;
}
.trips-table th:nth-child(4),
.trips-table td:nth-child(4) {
  width: 10%;
}
.trips-table th:nth-child(5),
.trips-table td:nth-child(5) {
  width: 10%;
}
.trips-table th:nth-child(6),
.trips-table td:nth-child(6) {
  width: 20%;
}
.trips-table th:nth-child(7),
.trips-table td:nth-child(7) {
  width: 20%;
}
#trips-scroll {
  max-height: calc(100vh - 230px);
}
#login .inner {
  background-color: white;
  border: 1px solid #dddddd;
  max-width: 400px;
  padding: 50px;
  position: relative;
  width: auto;
}
#login .error {
  background-color: #fef2f2;
  border: 1px solid #d80303;
  color: #d80303;
  margin-bottom: 15px;
  padding: 5px 10px;
}
#login label,
#login input {
  display: block;
}
#login label {
  text-transform: uppercase;
  font-size: 14px;
}
#login input[type='text'],
#login input[type='password'] {
  font-size: 1.6em;
  padding: 0.25em;
  margin: 5px 0 15px;
  width: 100%;
}
#login input[type='submit'] {
  background-color: #225ea8;
  border: 1px solid #274e7e;
  border-radius: 2px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 20px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#login input[type='submit']:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5);
}
#login input[type='submit']:hover {
  background-color: #274e7e;
  border-color: #1f3a5c;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 24px;
  }
  h2 {
    font-size: 1.3em;
  }
  #logo {
    font-size: 20px;
  }
  #primary-nav .label {
    display: inline;
    margin-left: 0.25em;
  }
  #home h1 {
    font-size: 5em;
  }
  #home .description {
    font-size: 1.8em;
    margin: 0 20% 30px;
  }
  #home-menu {
    flex-direction: row;
    margin: 50px auto;
  }
  #home-menu li {
    width: 30%;
  }
  #home-menu a {
    font-size: 1em;
  }
  #home-menu strong {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  #home-menu .text {
    font-size: 1.2em;
  }
  #download .inner > * {
    margin-left: 35%;
  }
  #download .slider {
    float: left;
    margin-left: 0;
    margin-top: -48px;
    width: 30%;
  }
  #download .features {
    display: block;
  }
  #download .download-buttons {
    justify-content: flex-start;
  }
  #demographics #charts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #demographics #charts .chart-wrapper {
    width: 47%;
  }
  #data h1 {
    margin-bottom: 25px;
  }
  #data .chart-wrapper h2 {
    font-size: 1.1em;
  }
  #map-controls-container.active {
    box-sizing: border-box;
    float: right;
    width: 35%;
  }
  #data .map-pane {
    float: left;
    width: 65%;
  }
}
